<!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <f:cObject typoscriptObjectPath="lib.FooterPart1" />

                <f:if condition="{settings.footer_menu}">
                    <div class="col-lg-4 col-md-6">
                        <h3 class="text-white mb-4"><f:cObject typoscriptObjectPath="lib.footerMenuTitle" /></h3>
                        <f:render section="FooterMenu" arguments="{_all}" />
                        <f:section name="FooterMenu">
                            <f:if condition="{FooterMenu}">
                                <f:for each="{FooterMenu}" as="footeritem">
                                    <a class="btn btn-link text-white-50" href="{footeritem.link}">{footeritem.title}</a>
                                </f:for>
                            </f:if>
                        </f:section>
                    </div>
                </f:if>
    
                <f:cObject typoscriptObjectPath="lib.FooterPart2" />
            </div>
        </div>
        <div class="container">
            <f:if condition="{settings.copyright}">
               <div class="copyright">
                    {settings.copyright}
                </div> 
            </f:if>
        </div>
    </div>
<!-- Footer End -->

<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>