<!-- Appointment Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="bg-light rounded">
                <div class="row g-0">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="h-100 d-flex flex-column justify-content-center p-5">
                            <f:if condition="{data.tx_mask_appointment_title}"><h1 class="mb-4">{data.tx_mask_appointment_title}</h1></f:if>
                            <f:if condition="{data.tx_mask_appointment_form}">
                                <f:for each="{data.tx_mask_appointment_form}" as="data_item">
                                    <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
                                </f:for>
                            </f:if>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                        <div class="position-relative h-100">
                            <f:for each="{data.tx_mask_appointment_img}" as="file">
                                <f:image image="{file}" class="position-absolute w-100 h-100 rounded" maxWidth="636" alt="{file.properties.alternative}" style="object-fit: cover;" />
                            </f:for>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Appointment End -->