<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
    <formvh:renderRenderable renderable="{form}">
        <f:if condition="{form.renderingOptions._originalIdentifier} == appointment">
            <f:then>
                <formvh:form object="{form}" action="{form.renderingOptions.controllerAction}" method="{form.renderingOptions.httpMethod}" id="{form.identifier}" section="{form.identifier}" enctype="{form.renderingOptions.httpEnctype}" addQueryString="{form.renderingOptions.addQueryString}" argumentsToBeExcludedFromQueryString="{form.renderingOptions.argumentsToBeExcludedFromQueryString}" additionalParams="{form.renderingOptions.additionalParams}" additionalAttributes="{formvh:translateElementProperty(element: form, property: 'fluidAdditionalAttributes')}" novalidate="true">
                    <div class="row g-3">
                        <f:render partial="{form.currentPage.templateName}" arguments="{page: form.currentPage}" />
                        <div class="col-12">
                            <f:form.button property="__currentPage" value="{form.pages -> f:count()}" class="btn btn-primary w-100 py-3">
                                {formvh:translateElementProperty(element: form, renderingOptionProperty: 'submitButtonLabel')}
                            </f:form.button>
                        </div>
                    </div>
                </formvh:form>
            </f:then>

            <f:else if="{form.renderingOptions._originalIdentifier} == appointmentform">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <formvh:form object="{form}" action="{form.renderingOptions.controllerAction}" method="{form.renderingOptions.httpMethod}" id="{form.identifier}" section="{form.identifier}" enctype="{form.renderingOptions.httpEnctype}" addQueryString="{form.renderingOptions.addQueryString}" argumentsToBeExcludedFromQueryString="{form.renderingOptions.argumentsToBeExcludedFromQueryString}" additionalParams="{form.renderingOptions.additionalParams}" additionalAttributes="{formvh:translateElementProperty(element: form, property: 'fluidAdditionalAttributes')}">
                            <div class="row g-3">
                                <f:render partial="{form.currentPage.templateName}" arguments="{page: form.currentPage}" />
                                <f:form.button property="__currentPage" value="{form.pages -> f:count()}" class="btn btn-primary w-100 py-3">
                                    {formvh:translateElementProperty(element: form, renderingOptionProperty: 'submitButtonLabel')}
                                </f:form.button>
                            </div>
                        </formvh:form>
                    </div>
                </div>
            </f:else>

            <f:else>
                <formvh:form object="{form}" action="{form.renderingOptions.controllerAction}" method="{form.renderingOptions.httpMethod}" id="{form.identifier}" section="{form.identifier}" enctype="{form.renderingOptions.httpEnctype}" addQueryString="{form.renderingOptions.addQueryString}" argumentsToBeExcludedFromQueryString="{form.renderingOptions.argumentsToBeExcludedFromQueryString}" additionalParams="{form.renderingOptions.additionalParams}" additionalAttributes="{formvh:translateElementProperty(element: form, property: 'fluidAdditionalAttributes')}">
                    <f:render partial="{form.currentPage.templateName}" arguments="{page: form.currentPage}" />
                    <div class="actions">
                        <f:render partial="Form/Navigation" arguments="{form: form}" />
                    </div>
                </formvh:form>
            </f:else>
        </f:if>
    </formvh:renderRenderable>
</html>